.Fonte{
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 15px;
    
}



.com-border-box{
    background-color: rgb(241, 218, 11);
    box-sizing: border-box;
}

.sem-border-box{
    background-color: #0000ff;
}

div{
    width: 100px;
    height: 100px;
    border: solid 10px #00ff00;
    padding: 10px;
}